<link rel="stylesheet" href="/stylesheets/general.css">

<hr>

<div class="foot">

<div class="foot-1">
    <img class="logo" src="/images/logo.png" alt="logo">
    <h1>Event Hustler</h1>
</div>

<div class="foot-1">
    <ul>
        <li>About Us</li>
        <li>Terms & Conditions</li>
        <li>Privacy Policy</li>
    </ul>
</div>

<div class="foot-1">
    <ul>
        <li>Contact Us</li>
        <li>+94763352425</li>
        <li>+94773629771</li>
    </ul>
</div>
</div>
