<link rel="stylesheet" href="/stylesheets/general.css">

<div class="footer">
    <hr>

    <div class="foot">

    <div class="foot-1">
        <img class="logo" src="/images/logo.png" alt="logo">
        <h1>Event Hustler</h1>
    </div>

    <div class="foot-2">
        <ul>
            <li>About Us</li>
            <li>Terms & Conditions</li>
            <li>Privacy Policy</li>
        </ul>
    </div>

    <div class="foot-2">
        <ul>
            <li>Contact Us</li>
            <li class="number">+94763352425</li>
            <li class="number">+94773629771</li>
        </ul>
    </div>
</div>