<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/general.css">
    <title>Header</title>
</head>
<body>
    <div class="sp1">
        <div class="sp1-1"><img class="logo" src="/images/logo.png" alt="logo"></div>
        <div class="sp1-1"><h1>Event Hustler</h1></div>
        <div class="sp1-1"></div>
        <div class="sp1-1"></div>
        <div class="sp1-1">
            <a href="/search"><img class="logo" src="/images/search.png" alt="search"></a>
        </div>
        <div class="sp1-1">
            <img class="logo" src="/images/logo.png" alt="logo">
        </div>
        
   </div>

   <hr>
</body>
</html>