<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>

    <link rel="stylesheet" href="/stylesheets/admin.css">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,500,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,600,0,0" />
    
</head>

<body>
  <div class="main">
    <div class="main-1">
      <div class="sidebar">
        <div class="logo">
            <div> <img class="eventhustleimage" src="images/logo.png" alt="Logo"></div>
            <div><h1>Event Hustler</h1>          </div>   
        </div>

        <div class="dashboard">
            <div class="material-symbols-sharp">home</div>
           <div class="dashtxt"> <h2>Dashboard</h2></div>
        </div>
      </div>
    </div>
  
   
    <div class="main-2">
      <div class="header">
        <div class="main-2sub">
          <div class="top">
            <div class="material-symbols-outlined">notifications</div>
            <div><img class="profileuser" src="images/user-admin.png" alt="profile pic"></div>
            <div class="accountuser">
            <div class="nameperson"><p>Jakob Calzoni</p></div>
            <div class="emailperson"><p>jakobcalzoni@gmail.com</p></div>
            </div>
          </div>
        </div>
      </div>
   

   
    <div class="customerprovidercount">
      <div class="mainclass">
        <div class="customersicon"><h3 class="h1">Customers</h3><img class="imgsmallicon" src="/images/icon-park.png"></div>
        <div><h2>Total</h2></div>
        <div> <h1 id="customerCount"></h1></div> 
      </div>
          
      <div class="customers">
        <div class="customersicon1"><h3 class="h1">Providers</h3><img class="imgsmallicon" src="/images/mdi_customer.png"></div> 
        <div><h2>Total</h2></div>
        <div> <h1 id="serviceCount"></h1></div>
      </div>
    </div>
      
      

      
        <div class="tracking">
          <table>
            <tr>
              <td>Overall completed bookings :</td>
              <td id='SerProOngoingBooking'></td>
            </tr>
            <tr>
              <td>Overall pending bookings :</td>
              <td id="SerProNoOngoingBooking"></td>
            </tr>
            <tr>
              <td>Overall accepted orders :</td>
              <td id='acceptedOrders'></td>
            </tr>
            <tr>
              <td>Overall rejected orders :</td>
              <td id='rejectedOrders'></td>
            </tr>            
              <tr>
                <td>Service Providers with deactivated accounts :</td>
                <td id="RejectedCount"></td>
              </tr>
            </table>
        </div>
    
        
      <div class="mainthree"> 
        <div class="authentication">
            <h2 class="Auth">Authentication</h2>
            <center><table class="listproservtable">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Service Provider Name</th>
                    <th>Accept</th>
                    <th>Reject</th>
                  </tr>
                </thead>
                <tbody id="pendingList">
                  <!-- The list of service provider cards will be inserted here -->
                </tbody>
              </table></center>
            
        </div>
        <div class="authentication">
              <h2 class="Auth">List of all Service Providers</h2>
                <center><table class="listproservtable sticky">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Service Provider Name</th>
                        <th>Disable Account</th>
                      </tr>
                    </thead>
                    <tbody id="serviceList">
                      <!-- The list of service provider cards will be inserted here -->
                    </tbody>
                  </table></center>
                
        </div>
      </div>
    </div>
  </div>
    
    
      

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>
   

const serviceTable = document.getElementById("serviceList")


//function to get pending users into table rows(authentication)
const displayContent = (providers) => {
  let content = "";
  //To Iterate over the array of providers and create a table row for each one
  providers.forEach((provider) => {
    content += `
      <tr>
        <td>${provider._id}</td>
        <td>${provider.name}</td>
        <td><button class="verify-provider-button" onclick="acceptProvider(this)" data-id="${provider._id}" >Verify Provider</button></td>
        <td><button class="reject-provider-button" onclick="rejectProvider(this)" data-id="${provider._id}" >Reject Provider</button></td>
      </tr>
    `;
  });

  document.querySelector("#pendingList").innerHTML = content;
};

axios.get('/api/v1/admin/getallpendingproviders')
    .then(response => {
      displayContent(response.data.providers);
    })

//to accept users
const acceptProvider = async (clickedElement) =>{

  const id = clickedElement.dataset.id;
  console.log(id)
  try {
    const update = await axios.patch("/api/v1/admin/verify",{id})
    const row = clickedElement.parentElement.parentElement
    row.remove()

    
  } catch (error) {
    console.log(error)
    
  }
}

/*/to reject providers
const rejectProvider = async (clickedElementreject) =>{

const idreject = clickedElementreject.dataset.id;
console.log(idreject)
try {
  const update = await axios.patch("/api/v1/admin/reject",{idreject})
  const row = clickedElementreject.parentElement.parentElement
  row.remove()

  
} catch (error) {
  console.log(error)
  
}

}*/

//to reject users
const rejectProvider = async (clickedElement) =>{

const id = clickedElement.dataset.id;
console.log(id)
try {
  const update = await axios.patch("/api/v1/admin/reject",{id})
  const row = clickedElement.parentElement.parentElement
  row.remove()

  
} catch (error) {
  console.log(error)
  
}
}


   /*const verifyProviderButton = document.getElementById('verify-provider-button');
    verifyProviderButton.addEventListener('click', async () => {
    const id = // Get the id of the provider to be verified
    try {
        const response = await fetch('/api/v1/admin/verify', {
            method: 'POST',
            body: JSON.stringify({ id }),
            headers: {
                'Content-Type': 'application/json'
            }
        });
        const provider = await response.json();
        // Handle the response, for example by updating the UI to reflect the change
    } catch (error) {
        console.error(error);
        // Handle the error, for example by showing an error message to the user
    }
});



*/






//function to get Verified users into table rows(authentication)
const displayContentCustomer = (providers) => {
  let content = "";
  //To Iterate over the array of providers and create a table row for each one
  providers.forEach((provider) => {
    content += `
      <tr>
        <td>${provider._id}</td>
        <td>${provider.name}</td>
        <td><button class="reject-provider-button" onclick="rejectProvider(this)" data-id="${provider._id}" >Reject Provider</button></td>
      </tr>
    `;
  });

  document.querySelector("#serviceList").innerHTML = content;
  
};




axios.get('/api/v1/admin/getallVerifiedproviders')
    .then(response => {
      displayContentCustomer(response.data.providers);
    })

async function getTotalCount(){
  const {data:{providerCount , deactivatedUsers , customerCount , acceptedOrders , rejectedOrders , SerProOngoingBooking , SerProNoOngoingBooking}} = await axios.get("/api/v1/admin/totalValue")
  document.getElementById('customerCount').innerHTML = customerCount
  document.getElementById('serviceCount').innerHTML = providerCount
  document.getElementById('RejectedCount').innerHTML = deactivatedUsers
  document.getElementById('acceptedOrders').innerHTML = acceptedOrders
  document.getElementById('rejectedOrders').innerHTML = rejectedOrders
  document.getElementById('SerProOngoingBooking').innerHTML =  SerProOngoingBooking
  document.getElementById('SerProNoOngoingBooking').innerHTML =  SerProNoOngoingBooking
}
getTotalCount()



</script>






























</html>