<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <title>Bookings</title>
</head>

<header>
    <%- include('partials/header'); %>
</header> 

<body>

    <form id="don" action="get">
        <h2>Appoinment</h2>

        <label for="fname">Full Name</label>
        <input type="text" id="fname" required name="fname" size="50" maxlength="75">

        <br>

        <label for="f_event">Event</label>
        <input type="text" id="f_event" required name="f_event" size="50" maxlength="75">
    
        <br>

        <label for="a_date">Date</label>
        <input type="datetime-local" id="a_date" required name="a_date">

        <br>

        <label for="amount">2000 LKR will be charged for the appoinment</label>

        <br>

        <button id="conf">Make Appoinment</button>
        <button id="back">Back</button>
        
    </form>

</body>

<footer>
    <%- include('partials/footer'); %>
</footer>
  

<script>
    const fname = document.getElementById("fname");
    const f_event = document.getElementById("f_event");
    const a_date = document.getElementById("a_date");

    const fin = {
        fname: "",
        f_event: "",
        a_date: ""
    }

    conf.onclick = function conf(){
        if(fname.value == "" || f_event.value == "" || a_date.value == ""){
            alert("Please fill out the required fields");
        }else{
            alert("Your appoinment is placed. \n Will be notified after service provider's exceptance")       
            window.location.href = "/service_provider";
        }
    }
    document.getElementById("conf").addEventListener("click", function(conf){
    event.preventDefault()
    });

    back.onclick = function back(){
        window.location.href = "/service_provider";
    }
    document.getElementById("back").addEventListener("click", function(back){
    event.preventDefault()
    });
</script>
</html>