<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <title>Bookings</title>
</head>

<header>
    <%- include('partials/header'); %>
    <%- include('partials/functions'); %>
</header> 

<body>

    <form id="don" action="get">
        <h2>Appoinment</h2>

        <label for="f_event">Event</label>
        <input type="text" id="f_event" required name="f_event" size="50" maxlength="75">
    
        <br>

        <label for="a_date">Date</label>
        <input type="datetime-local" id="a_date" required name="a_date">

        <br>

        <label for="amount" style="color: red;">* 2000 LKR will be charged for the appoinment</label>

        <br>

        <button id="makeAppoinment" type="submit">Make Appoinment</button>
        
    </form>
</body>

<footer>
    <%- include('partials/footer'); %>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

<script>
    const param = window.location.href
    const require = param.split("/")

    const fname = document.getElementById("fname");
    const f_event = document.getElementById("f_event");
    const a_date = document.getElementById("a_date");
    const form = document.getElementById("don")

    var today = new Date().toISOString().slice(0, 16);
    document.getElementsByName('a_date')[0].setAttribute('min', today);

    form.addEventListener("submit", async function(e){
        const s_id = require[4]
        e.preventDefault()
        const event = f_event.value
        const date = a_date.value
        if(event == "" || date== ""){
            alert("Please fill out the required fields");
        }else{
            alert("Your appoinment is placed. \n Will be notified after service provider's exceptance") 
            const newBooking = await axios.post("/api/v1/customer/booking",{event, date, s_id })
            
        }
    });

</script>
</html>