<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="item-1"> <img src="/images/logo 1.png" alt=""></div>
        <div class="item-2"><h1>Event Hustler</h1> </div>
        <div class="item-3" ><button class="search-btn"><a href="/search"><i class ="fa fa-search" style="font-size: 28px;"></i> </a></button></div>
        <div class="item-4"> <img src="/images/image 2.png" alt="" srcset=""></div>
       
    </nav>
    <br>
    <!--THE SECTION 1-->
<section class="main-img-container-class">
    <div class="box-container">
        <div class="box-container-2">
            <img src="/images/mainimg.png" alt="image">
            <div class="heading"><h2>WELCOME TO EVENT HUSTLER</h2></div>
            <div class="heading-2"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nostrum itaque illo, neque saepe reprehenderit, eveniet,
               minima mollitia impedit illum reiciendis nesciunt aspernatur odio consequuntur maxime assumenda dolor possimus tenetur.
            </p></div>

        </div>
    </div>
</section>

<!--THE SECTION 2-->

    <center><h1>Top Service Providers</h1></center>
    <!--Main box for the content!-->
    <div class="container-sub-1"> 
        
        <div class ="container-sub-1-1">
           
                <img class="profilepic" src="/images/image 2.png">
         
            <div>
                Person 1
            </div>
            <div>
                ratings
            </div>
            <button onclick="" class="providerprofile">View Provider</button>
        </div>
        
        <div class ="container-sub-1-1">
         
                <img class="profilepic" src="/images/image 2.png">
            
            <div>
                Person 2
            </div>
            <div>
                ratings
            </div>
            <button onclick="" class="providerprofile">View Provider</button>
        </div>
        <div class ="container-sub-1-1">
           
                <img class="profilepic" src="/images/image 2.png">
           
            <div>
                Person 3
            </div>
            <div>
                ratings
            </div>
            <button onclick="" class="providerprofile">View Provider</button>
        </div>
    </div>



<!--THE SECTION 3-->

<section class="container">
    <div class="container-sub">
        <div class="container-sub-1"> <img class="partyimg" src="/images/image 4.png">
        </div>
        <div class="container-sub-1"> <img class="partyimg" src="/images/Rectangle.png">
        </div>
        <div class="container-sub-1"> <img class="partyimg" src="/images/religious 1.png">
        </div>
        <div class="container-sub-1">
            <img class="partyimg" src="/images/image 4.png">
        </div>
    </div>
</section>











</body>
</html>



