<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/new.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>Customer Login</title>
</head>
<body class="sign-up-customer-body">

    <div class="flex-box-container">
        <!-- div section for main image -->
        <div class="profile-pic">

           
            <h2>Sign Up</h2> 
           <img src="/images/facebook.png"  alt="">
           <h2>Event Hustler</h2>
        </div>
        <!-- div section for Form input data elements -->
        <div class="form-section">
            
            <h2>Sign In To Account</h2><br>
            <div class="form-content">
                <form id="regForm">

                    <label for="">Username</label><br>
                    <input type="text" name="username" id="" oninput="this.className = ''"><br>

                    <label for="">Password</label><br>
                    <input type="password" name="password" id="" oninput="this.className = ''"><br>

                    <button type="submit" class="log-in-button">Log in</button><br>

                    Don't have an account?<a href="/signup-customer">Sign Up</a>
                </form>
            </div>
        </div>
    </div>
    
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>
    const form = document.getElementById("regForm")

    form.addEventListener("submit",async (event) => {
        event.preventDefault()
        const username = form.username.value;
        const password = form.password.value;
        try {
            const {data} = await axios.post("/api/v1/customer/login",{username,password})
            if(data.customer){
                location.assign("/")
            }    
        } catch (error) {
            alert("Username or password is incorrect");
        }
    })
</script>
</html>