<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="stylesheets/rc.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="post"></div>
        <div class="heading">
            <div class="text">Please rate the Service Provider</div>
        </div>
        <div class="star-widget">
            <input type="radio" name="rate" id="rate-5">
            <label for="rate-5" class="fas fa-star"></label>
            <input type="radio" name="rate" id="rate-4">
            <label for="rate-4" class="fas fa-star"></label>
            <input type="radio" name="rate" id="rate-3">
            <label for="rate-3" class="fas fa-star"></label>
            <input type="radio" name="rate" id="rate-2">
            <label for="rate-2" class="fas fa-star"></label>
            <input type="radio" name="rate" id="rate-1">
            <label for="rate-1" class="fas fa-star"></label>
            <form action="#">
                <header></header>
                <div class="textarea">
                    <textarea name="" id="" cols="30" rows="0" placeholder="Describe your experience ..."></textarea>
                </div>
                <div class="btn">
                    <button type="button">Next</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        const btn = document.querySelector("button");
        const widget = document.querySelector(".star-widget");
        const comments = document.querySelector(".post");

        btn.addEventListener("click", ()=> {
            widget.style.display = "none";
            comments.style.display = "block";
            return false;
        });

    </script>
</body>
</html>