<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/new1.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <div class="flex-box-container">
        
        <div class="section-1">
          <h1>Service Provider</h1>

          <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt minima voluptatem fugiat quasi unde laudantium similique earum nobis, quod expedita amet maiores iusto dignissimos esse dicta. Ea, illum. Debitis, nobis? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium inventore perspiciatis eveniet quis hic dignissimos nam omnis alias neque, quam cupiditate quidem accusantium impedit. Reprehenderit quibusdam vel pariatur eveniet iste.</p>
             <div class="img-container">
                <img src="/images/planner.png" alt=""> 
                <img src="/images/goal.png" alt="">
                <img src="/images/meeting.png" alt="">\
                <img src="/images/team.png" alt="">
             </div>
             
             <button><a href="/api/v1/service-provider/signup">Sign Up </a></button>
           
        </div>
        
        <div class="section-2" >
            <h1>Customer</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium aliquid ullam, dicta pariatur dolor voluptatibus, architecto nobis neque dolore libero, sit repellendus impedit dolorem doloribus. Nesciunt soluta quisquam vitae obcaecati? Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ipsum accusantium expedita quo nemo eos accusamus sit sed illum magnam sequi pariatur dolore illo quidem, est odit enim omnis cum.</p>
             <div class="img-container">
                <img src="/images/mirror-ball.png" alt="">
                <img src="/images/party.png" alt="">
                <img src="/images/dance.png" alt="">
                <img src="/images/cheer.png" alt="">
             </div>
             <button><a href="/api/v1/customer/signup">Sign Up</a></button>
            
            
        </div>

        
    </div>
    
</body>
</html>