<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/new1.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>Start Up</title>

</head>
<body>
    <div class="flex-box-container">
        
        <div class="section-1">
          <h1>Service Provider</h1>

          <p>
            Event planners, also known as event coordinators or event specialists, are responsible for organizing and managing every aspect of an event. 
            Their duties include conceptualizing theme ideas, planning budgets, booking venues, liaising with suppliers and clients, managing logistics, and presenting post-event reports.
            If you are an event planner. This is the perfect platform to show your work and expland your customer base. 
            
          </p>
             <div class="img-container">
                <img src="/images/planner.png" alt=""> 
                <img src="/images/goal.png" alt="">
                <img src="/images/meeting.png" alt="">\
                <img src="/images/team.png" alt="">
             </div>
             
             <button><a href="/login-service">Login </a></button>
             <a class="signUP" href="/signup-service">Don't have an Account? Sign up</a>
           
        </div>
        
        <div class="section-2" >
            <h1>Customer</h1>
            <p>
                Celebrating certain events such as birthdays, anniversary parties, religious activities, festivals, corporate events should be done in the most memorable manner.
                Plan them to be memorable and special for your generations to remeber with a little help from the professionals.
                Get the professional to help you out to plan your important dates.
                Be a customer of Event Hustler to enjoy your special dates while the proffesional handles other important work.
            </p>
             <div class="img-container">
                <img src="/images/mirror-ball.png" alt="">
                <img src="/images/party.png" alt="">
                <img src="/images/dance.png" alt="">
                <img src="/images/cheer.png" alt="">
             </div>
             <button><a href="/login-customer">Login</a></button>
             <a class="signUP" href="/signup-customer">Don't have an Account? Sign up</a>
             
            
            
        </div>

        
    </div>
    
</body>
</html>