@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap');


:root{
    --tcolor: #7D3C98;
    --bshadow: 10px ;
}


body{
    overflow-x: hidden;
    margin: 0px;
    height: 100%;
    width: 100vw;
}

*{
    font-family: "Raleway";
    font-weight: bolder;
}
:root{
    --tcolor: #7D3C98;
    --bshadow: 10px;
}

.sidebar{
    height:100%;
}

.logo{
    display: flex;
    color: white;
    position: relative;
    left: 30px;
    top:20px
}


.eventhustleimage{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    right: 10px;
    top: 15px;
}


.dashboard{
    display: flex;
    position: relative;
    left: 65px;
    top:100px;
    
}

.dashtxt, .dashtxt a{
    position: relative;
    left: 10px;
    color: white;
    text-decoration: none;
}


.material-symbols-sharp{
    position: relative;
    top: 20px;
}

.material-symbols-outlined{
    position: relative;
    right: 50px;
    top: 35px;
}

.profileuser{
    border-radius: 50%;
    position: relative;
    right: 10px;
    top: 15px;
}

.nameperson{
 position: relative;
 top: 15px;
}

.emailperson{
 position: relative;
 right: 2px;
}

.customersicon{
    display: flex;
    flex: 1;
    color: #9702B0;
    
}

.customersicon1{
    display: flex;
    flex: 1;
    color: #E4008D;
    
}


.imgsmallicon{
    position: relative;
    left: 250px;
    top: 20px;
    height: 30px;
    width: 30px;
}

.header{
    height: 110px; 
    width: auto;
    background-color: white;
}
.main-2sub{
    width: 400px;
    height: 90px;
    margin-left: auto;
}
.top{
  display: flex;
}

.mainclass{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 400px;
    background-color: white;
    border-radius: 20px;
    
    display: inline-block;
    padding: 1%;
    position: relative;
    right: 3vh;
}
.customers{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 400px;
    background-color: white;
    border-radius: 20px;
    display: inline-block;
    padding: 1%;
    position: relative;   
}

.customerprovidercount{
    display: flex;
    padding: 1%;
    text-align: center;
    position: relative;
    left: 180px;
}




.main{
    display: grid;
    grid-template-columns: 20% 80%;
    height: 270vh;
}



.mainthree{
    margin: 10px;
}

/*2nd flex box*/
.tracking{  
    height: 250px;
    width: 870px;
    background-color: white;
    border-radius: 20px;
    position: relative; 
    left: 170px;  
    top: 30px; 
}

.tracking table{
    border-spacing: 0 15px;
    padding-top: 3%;
    padding-left: 5%;
    align-items: center;
}

#SerProOngoingBooking{
    position: relative;
    left: 350px;

}
#SerProNoOngoingBooking{
    position: relative;
    left: 350px;

}
#acceptedOrders{
    position: relative;
    left: 350px;

}
#rejectedOrders{
    position: relative;
    left: 350px;

}
#RejectedCount{
    position: relative;
    left: 350px;
}



/*table design*/

.listproservtable{
    width: 850px;
    position: relative;
    border-collapse: collapse;
    text-align: center;
}
.listproservtable thead{
  background-color: white;
  height: 50px;
}


.listproservtable thead tr{
    background-color: #9702B0;
    color: white;    
}

.listproservtable, th, td {
    border-spacing: 0px;
}

.listproservtable tbody tr{
    background-color: #FAF9F6;
    border-bottom: 2px solid #C89DCC;
    height: 50px;
}

.reject-provider-button{
    background-color: #CD4B4B;
    border-radius: 20px;
    border: none;
    color: white;
    height: 30px;
}
.verify-provider-button{
    background-color: #48C548;
    border-radius: 20px;
    border: none;
    color: white;
    height: 30px;
}

/*table design*/

.authentication{

    position: relative;
    top: 100px;
    right: 30px;
    margin: 100px;
    height: fit-content;
    width: 1120px;
    background-color: white;
    border-radius: 20px;
    padding: 1%;
}

.Auth{
    position: relative;
    top: 30px;
    left: 30px; 
}

.main-2{
background-color: #FAF9F6;
}
.sidebar{
    background-color: #9702B0;
}


.accountuser{
   position:relative;
}

.material-symbols-sharp{
    color: #FAF9F6;
}

/* Admin Log-In */
.adminLogIn{

    background-color: var(--tcolor);
    background: url(../images/adminlogin.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    display: grid;
    grid-template-columns: 40% 60%;
    width: 50%;
    margin: auto;
    margin-top: 190px;
    padding: 10px;
    border-radius: 24px;
    
}
.container1{
    text-align: center;
    background-color: white;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    padding: 10px;
    box-shadow: 5px 10px #EDD4FE;
    
}
.container1 img{
    border-radius: 100%;
    margin-left: 20px;
    margin-top: 40px;
}
.container2{
    padding: 20px;
    padding-left: 30px;
    background: rgba(255, 255, 255, 0.30);;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    padding: 10px;
    box-shadow: 5px 10px #EDD4FE;  
}

.container2 label, .container2 h1{
    margin-left: 40px;  
}

#login-admin input[type=text], #login-admin input[type=password]{
    width: 80%;
    padding: 12px;
    border: 1px solid var(--tcolor);
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;    
    margin-left: 40px;
    box-shadow: 4px 4px 4px 4px rgb(162, 170, 169);
    background: linear-gradient(to right,#ffffff 0%,#ffffff 50%,#000000 50%,#000000 100%,); 
}

#login-admin button[type=submit]{
    width: 80%;
    padding: 12px;
    font-size: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 15px;    
    margin-left: 40px;
    background-color: var(--tcolor);
    color: white;
    border: 1px solid aliceblue;
    box-shadow: 4px 4px 4px 4px rgb(162, 170, 169);
    background: linear-gradient(to right,#ffffff 0%,#ffffff 50%,#000000 50%,#000000 100%,);   
}

#login-admin button[type=submit]:hover{
    background-color: white;
    color: var(--tcolor);
    border: 1px solid var(--tcolor);
}