@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap');

*{
    font-family: "Raleway";
    font-weight: bolder;
}

.customers{
    display: flex;
}
.countclass{
    display: flex;
    flex-direction: column;
}
.main{
    display: grid;
    grid-template-columns: 20% 80%;
    border: 1px black solid;
}


.maintwo{
    display: flex;
}

.mainthree{
    display: flex;
}

