@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap');

:root{
    --tcolor: #9702B0;
    --color-secondary: #C89DCC;
    --bshadow: 10px;
    --color-background: #FAF9F6;
    --color-white: #fff;
    --color-black: #000;
    --color-grey: #CCCCCC;
}

*{
    font-family: "Raleway";
    font-weight: bolder;
}

body{
    background: var(--color-background);
    margin: 0;
    padding: 0;
}

/* functions */

span {
    padding-left: 0.5rem;
}

span:hover {
    color: var(--tcolor);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--tcolor);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidenav a {
    padding: 8px 0px 8px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: var(--color-white);
    display: block;
    transition: ease-in-out 0.3s;
}

.sidenav a:hover {
    color: var(--color-black);
    text-decoration: underline;
    background: var(--color-secondary);
}

.sidenav .closebtn:hover {
    text-decoration: none;
    background: var(--tcolor);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    
}
  
/* header */

.sp1{
    display: grid;
    grid-template-columns: 5rem 5rem 13rem auto 5rem 5rem;
    align-items: center;
    justify-items: center;
}

.sp1-1{
    align-items: center;
    text-align: center;
}

.home{
    background: none;
    border: none;
}

.logo{
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
}

.search-btn{
    background-color: rgb(195, 19, 195);
    color: white;
    border: none;
    border-radius: 12px;
    height: 2.5rem;
    width: 2.5rem;  
}

.search-btn img{
    width: 1.8rem;
    height: 1.8rem;
    color: white;
}

.item-4{
    background: none;
    border: none;
}

.item-4 img{
    width: 4rem;
    height: 4rem;  
}

/* footer */

.footer {
    background: var(--tcolor);
    color: var(--color-white);
    height: 12rem;
    width: 100%;
}

.foot{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 2rem;
    align-items: center;  
}

.foot ul {
    list-style-type: none;
}

.foot-1{
    text-align: center;
}

.foot-1 img {
    width: 5rem;
    height: 5rem;
}

.foot-1 h1 {
    margin: 0;
    color: var(--color-white);
}

.foot-2{
    align-items: center;
    justify-self: center;
}

.foot-2 ul li {
    padding-bottom: .3rem;
    color: var(--color-white);
}

.foot-2 .number {
    color: var(--color-grey);
}
