/*section 1 csss */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap');

:root{
    --tcolor: #9702B0;
    --color-secondary: #C89DCC;
    --color-border: rgba(151, 2, 176, 20%);
    --bshadow: 10px;
    --color-background: #FAF9F6;
    --color-white: #fff;
    --color-black: #000;
    --color-grey: #CCCCCC;
    --color-star: #FFE234;
    --color-btnHover: rgba(151, 2, 176, 60%);
}

*{
    font-family: "Raleway";
    font-weight: bolder;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: var(--tcolor); 
height: 20px;
border-radius: 10px;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    height:auto;
    border-bottom: 2px solid black;
}

.item-3{
    margin-left: auto;
    width: fit-content;
}

a{
    color:white;
    text-decoration: none;
}

.box-container-2{
    position: relative;
    width: 100%;
    
}

.box-container-2 img{
    width: 100%;
    height: 550px;
    gap: 70%;
}

.heading{
    color: black;
    font-size: larger;
    position:absolute;
    text-align: left; 
    top: 10%;
    width: 42%;
    left: 3%;
    background-color:rgb(209, 207, 207);
    border-radius: 20px;
}

.heading-2{
    color: black;
    font-size: larger;
    position:absolute;
    text-align: left; 
    top:28%;
    width: 42%;
    left: 3%;
    background-color:rgb(209, 207, 207);
    border-radius: 20px;
}

/*section 2 css */
  
.container-sub-1{
    display:flex;
    justify-content: center;
    justify-content: space-around;
    gap: 60px;
    height:400px;
    padding: 100px;
}
 
.container-sub-1-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 4px 4px 4px 4px rgb(162, 170, 169);
    background: var(--color-white);
    width: 250px;
    height: 400px;
    border-radius: 24px;
}

.container-sub-1-1 img{
    width: 8rem;
    height: auto;
    padding-top: 3rem;

}

.container-sub-1-1 div span {
    color: var(--color-star);
    font-size: 1.5rem;
}

.providerprofile{
    background-color: var(--tcolor);
    width: 100%;
    border: none;
    color: white;
    height: 4rem;
    border-radius: 0 0 24px 24px;
    font-size: 18px;
}

/*section 3 css*/
.container {
    background: var(--color-secondary);
    overflow-y: hidden;
}

.container-sub{
    width: auto;
    height: 400px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2rem;
}

.container-sub div{
    border: none;
    width: 500px;
    height: 300px;
    padding-right: 2rem;
}

.partyimg{
    height: 300px; 
    width: 500px;
    border-radius: 24px;
}