@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap');

:root{
    --tcolor: #7D3C98;
    --bshadow: 10px;
    --rating-color: #FFE234;
}

*{
    font-family: "Raleway";
    font-weight: bolder;
}

body{
    background: url(../images/water.webp) ;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2% black;
}

/* service provider */

.sp2{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin-left: 8%;
}
.sp2-1{
    padding: 10%;
    text-align: center;
    align-items: center;
    background-color: #7D3C98;
    margin-top: 5%;
    margin-bottom: 5%;

    height: 55%;
    width: 60%;
    border-radius: 10%;
    color: antiquewhite; 
}

#description, #about{
    word-wrap: break-word;
}

#description-input, #about-input{
    width: 100%;
    height: 50%;
}

.sp3{
    display: grid;
    grid-template-columns: 7% 7% 80% 7% 5% 7%;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;  
    font-size: 25px;  
}

.item, #schedule, #edit, #logout{
    background: none;
    border: none;
}


.item img{
    width: 80px;
    height: auto;  
}

.bt img{
    width: 36px;
    height: auto;
    margin: 5%;
}

.bt{
    text-align: center;
}

/* service provider schedule */
.BP{
    width: 40%;
    margin: auto;
    margin-bottom: 10px;
    border: var(--tcolor) 5px solid;
}
.BP h1{
    text-align: center;
}
.BP table, .BP td{
    margin: auto;
    font-size: large;
    padding: 7px;
}
.note{
    width: 60%;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    border: var(--tcolor) 5px solid;
}
.spb1{
    overflow: hidden;  
    margin: auto;
    text-align: center;
}
.spb1 button{
    background-color: var(--tcolor);
    color: white;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
    font-size: 20px;
    border-radius: 10%;
    margin: 1%;  
}

.spb1 button:hover{
    background-color: white;
    color: var(--tcolor);
}
        
.spb1 button.active{
    background-color: white;
    color: var(--tcolor);
    border: var(--tcolor) 1px solid;
}

.spb2 table{
    border: var(--tcolor) 1px solid;
    width: 90%;
    height: auto;
    font-size: 20px;
    text-align: center;
    margin: auto;
}

.spb2 table td, .spb2 table th{
    border: var(--tcolor) 1px solid;
    padding: 7px;
}

#accept, #complete{
    background-color: green;
    color: white;
    font-size: 15px;
    padding: 8px;
    border: none;
    border-radius: 20px;  
}

#accept:hover, #complete:hover{
    font-size: 13px;
    background-color: white;
    color: green; 
    border: green 1px solid;
}

#reject{
    background-color: red;
    color: white;
    font-size: 15px;
    padding: 8px;
    border: none;
    border-radius: 20px;  
}

#reject:hover{
    font-size: 13px;
    background-color: white;
    color: red; 
    border: red 1px solid;
}

/* booking */
#don{
    width: 60%;
    border: 2px solid var(--tcolor);
    margin-left: 20%;
    margin-right: 10%;
    padding: 10px;
    font-size: 20px;
    border-style: dashed;
}
#don input[type=text], #don input[type=number], #don input[type=datetime-local]{
    width: 100%;
    padding: 12px;
    border: 1px solid var(--tcolor);
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
    
}

#don #conf, #don #back{
    padding: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15%;
    font-size: 20px;
    background-color: var(--tcolor);
    color: white;
    border: 1px solid aliceblue;
    width: 30%;
}
#result{
    border: 2px black solid;
    border-style: dotted;
    padding: 10px;
    width: 500px;
    margin-left: 170px;
}
#comment-section{
    background-color: white;
    color: black;
    border-radius: none;
    overflow-y: scroll; 
}

/* .comment{
    border-bottom: 2px solid black;
} */
.comment img{
    width: 20%;
}

.comment-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: var(--tcolor); 
height: 20px;
border-radius: 10px;
}

.progressBar {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    box-sizing: border-box;
}

.progressBar .progress {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    box-sizing: border-box;
    height: 16px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #000;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.progressBar .progress .progress-bar {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
    box-sizing: border-box;
    float: left;
    height: 100%;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    text-align: center;
    background-color: var(--rating-color);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    transition: width .6s ease;
}

.progressBar .progress .progress-bar .sr-only {
    /* -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0; */
    display: none;
}


