:root{
    --tcolor: #7D3C98;
    --bshadow: 10px;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    padding: 2% black;
}
.sp1{
    display: grid;
    grid-template-columns: 5% 15% 65% 5% 5% 5%;
    align-items: center;
    
}
.sp1-1{
    align-items: center;
    text-align: center;
}
.sp1 img, .profile{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.sp2{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin-left: 8%;
}
.sp2-1{
    padding: 10%;
    text-align: center;
    align-items: center;
    background-color: #7D3C98;
    margin-top: 5%;
    margin-bottom: 5%;

    height: 55%;
    width: 60%;
    border-radius: 10%;
    color: antiquewhite; 
}
#description, #about{
    word-wrap: break-word;
}
#description-input, #about-input{
    width: 100%;
    height: 50%;
}
.sp3{
    display: grid;
    grid-template-columns: 7% 7% 80% 7% 5% 7%;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;  
    font-size: 25px;  
}
.sp3 img{
    height: 75px;
    width: 75px;
}
.bt img{
    width: 36px;
    height: auto;
    margin: 5%;
}
.bt{
    text-align: center;
}

.spb1{
    overflow: hidden;  
    margin-left: 30%;  
    margin-bottom: 5%;
}
.spb1 button{
    background-color: var(--tcolor);
    color: white;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
    font-size: 20px;
    border-radius: 10%;
    margin: 1%;
    
}
.spb1 button:hover{
    background-color: white;
    color: var(--tcolor);
}
.spb1 button.active{
    background-color: white;
    color: var(--tcolor);
}
.spb2 table{
    border: var(--tcolor) 1px solid;
    width: 90%;
    height: auto;
    font-size: 20px;
    text-align: center;
    margin: auto;
}
.spb2 table td, .spb2 table th{
    border: var(--tcolor) 1px solid;
    padding: 7px;
}

.foot{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;  
}
.foot ul {
    list-style-type: none;
}
.foot-1{
    align-items: center;
    text-align: center;
}
.foot img, .profile{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
/* booking */
#don{
    width: 60%;
    border: 2px solid var(--tcolor);
    margin-left: 20%;
    margin-right: 10%;
    padding: 10px;
    font-size: 20px;
    border-style: dashed;
}
#don input[type=text], #don input[type=number], #don input[type=datetime-local]{
    width: 100%;
    padding: 12px;
    border: 1px solid var(--tcolor);
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
    
}

#don #conf, #don #back{
    padding: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15%;
    font-size: 20px;
    background-color: var(--tcolor);
    color: white;
    border: 1px solid aliceblue;
    width: 30%;
}
#result{
    border: 2px black solid;
    border-style: dotted;
    padding: 10px;
    width: 500px;
    margin-left: 170px;
}